<div class=container>
<a href="#" class="" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-left: 0px;margin-right: 22px;margin-bottom: 12px;">  Filters  </a>  
<a href="#" class="rating" style="margin-right: 10px; width: 128px; height: 36px;">Rating: 4.0+</a>
<a href="#" class="outdoor" style="margin-right: 10px; width: 126px; height: 36px;">Pure veg</a>
<a href="#" class="gold" style="margin-right: 10px; width: 96px; height: 36px;">cuisine</a>
</div>