<div class="container">
  <h1>Veg Items</h1>
  <div class="row">
    <% @veg_items.each_slice(3) do |items_row| %>
      <% items_row.each do |item| %>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= item.name %></h5>
              <p class="card-text">Price: <%= item.price %></p>
              <p class="card-text">Rating: <%= item.rating %></p>
              </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
