
  <div class="container">
    <a href="home-page-url" class="button home-button">Home</a> /
    <a href="india-page-url" class="button india-button">India</a> /
    <a href="bengaluru-restaurants-url" class="button bengaluru-button">Bengaluru Restaurants</a>
  </div>
</div>
<div class="container ">
    <div style="width: 300px; height: 71px;" class=" row">
      <img alt="illustration" src="https://b.zmtcdn.com/data/o2_assets/30fa0a844f3ba82073e5f78c65c18b371616149662.png" loading="lazy" class="logo col-4" >
      <h3 class="out col-8">Dining Out</h3>
    </div> 
    <ul class="list-group">
    <div class="row">
    <h3>Collections</h3>
    <div class="row">
    <div class="col-md-9">
      <h5 class="weight">Explore curated lists of top restaurants,cafes,pubs,and bars in Bengaluru,based on trends</h5>
    </div>
    <div class="col-md-3">
      <span>All Collections in Bengaluru</span>
    </div>
    <div class="container">
  <div class="row">
    <div class="col-md-3">
      <a class="nav-link" href="<%= newly_opened_restaurants_path  %>">
        <div class="card" style="width: 260px; height: 320px;">
          <div class="card-body">
            <h5 class="card-title" style="margin-top: 250px;">Newly Opened Restaurants</h5>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a class="nav-link" href="<%= best_rated_restaurants_path %>">
        <div class="card" style="width: 260px; height: 320px;">
          <div class="card-body">
            <h5 class="card-title" style="margin-top: 250px;">Best in Banglore</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
    <a class="nav-link" href="<%= rooftop_restaurants_path %>">
      <div class="card" style="width: 260px; height: 320px;">
        <div class="card-body">
          <h5 class="card-title" style="margin-top: 250px;">Serena Rooftop Places</h5>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-3">
  <a class="nav-link" href="<%= trending_restaurants_path %>">
    <div class="card" style="width: 260px; height: 320px;">
      <div class="card-body">
        <h5 class="card-title" style="margin-top: 250px;">Trending Restaurant</h5>
      </div>
    </div>
  </a>
</div>
</div>
</div>

  