
 @import'bootstrap';
 .button {
    color: rgb(130, 130, 130);
    display: inline-block;
    font-size: small;
    margin-right:5px;
    margin-top:10px; 
    text-decoration: none;
  }
  .logo {
    height: 30px;
    margin-top: 22px;
    width: 30px; 
  }
  .out {
   margin-top: 20px;
  }
 .weight {
  color:#888;
 }
 .restaurant-image {
  height: 280px;
  width: 250px;
}
